.footer {
    height: auto;
    display: flex;
    background-color: rgb(231, 231, 61);
    justify-content: center;
    align-items: flex-start;
    z-index: 2000;
    left: 0;
    bottom: 1;
    position: fixed;
    padding: 5px;
}

.list {
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    padding: 0;
    margin: 0;
}
.items {

   padding: 0 1rem;
   cursor: pointer;
}
.text.lm {
    margin-left: 0.3rem;
}